@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}

@font-face { 
    font-family: "ProximaNova";
    src: local("ProximaNova"), url("Assets/Fonts/ProximaNovaFont.otf") format("truetype");
}

@font-face {
    font-family: "ProximaNovaBold";
    src: local("ProximaNovaBold"), url("Assets/Fonts/ProximaNovaCondensedBold.otf") format("truetype");
}

@font-face {
    font-family: "ProximaNovaRegular";
    src: local("ProximaNovaRegular"), url("Assets/Fonts/ProximaNovaCondensedRegular.otf") format("truetype");
}

@font-face {
    font-family: "ProximaNovaSemiBold";
    src: local("ProximaNovaSemiBold"), url("Assets/Fonts/ProximaNovaCondensedSemibold.otf") format("truetype");
}

.btn {
    position: relative;  
    --accent-color: #00acc1;
}

.btn.btn-background-slide::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}
  
.btn.btn-background-slide:hover::before {
    transform: scaleX(1);
}
  
.btn.btn-background-slide {
    transition: color 300ms ease-in-out;
    z-index: 1;
}

@tailwind utilities;